<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add appointment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 10;
            padding: 0;
        }
        .header{
            display:flex;
            justify-content: space-between;
        }
        #appointmentForm {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
            margin-top: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class = header>   
        <a href="/"><button>Back to Menu</button></a>
        <form id="searchForm">
            <label for="search">Search:</label>
            <input type="text" id="search" name="query" placeholder="Patient ID">
            <button type="submit" id="search-button">Search</button>
        </form>

    </div>

    <h2>Appointments in Luzon</h2>

    <table id="appointmentList">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            <!-- Inside the <tbody> tag -->
            {{#each data}}
            <tr>
                <td>{{this.apptid}}</td>
                <td>{{this.RegionName}}</td>
                {{!-- <td>
                    <form action="edit_appointment.php" method="post">
                        <input type="hidden" name="appointment_id" value="<?php echo $appointment['id']; ?>">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="delete_appointment.php" method="post">
                        <input type="hidden" name="appointment_id" value="<?php echo $appointment['id']; ?>">
                        <button type="submit">Delete</button>
                    </form>
                </td> --}}
            </tr>
            {{/each}}

        </tbody>
    </table>
<script src="/js/Server2.js"></script>
</body>
</html>